body{
    margin: 5px 0 10px 0;
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    background-color: lightblue;
    padding: 30px;
}
.conainer{
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    border-width: 0;
    box-shadow: 2px 2px 2px 2px gray;
}